# FRONTEND
CLIENT_PROTOCOL=
CLIENT_HOST=
CLIENT_PORT=
CLIENT_PUBLIC_HOST=

# BACKEND
SERVER_PROTOCOL=
SERVER_HOST=
SERVER_PORT=
SERVER_PUBLIC_HOST=

# DB
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# AI
AI_HOST=
AI_PORT=

# GOOGLE
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=