version: "3.9"

services:
  frontend:
    container_name: frontend-prod
    build:
      context: ./client
      dockerfile: Dockerfile.prod
    ports:
      - "80:80"
    networks:
      - client-network
      - backend-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  backend:
    container_name: backend-prod
    build:
      context: ./server
      dockerfile: Dockerfile.prod
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SERVER_PORT=${SERVER_PORT}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
    networks:
      - backend-network
      - db-network
    restart: unless-stopped
    healthcheck:
      test:
        ["CMD", "curl", "-f", "http://localhost:8080/actuator/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  postgres:
    image: postgres:18.1-alpine3.22
    container_name: postgres-prod
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pgdata_prod:/var/lib/postgresql/data
    networks:
      - db-network
    restart: unless-stopped

networks:
  client-network:
    driver: bridge
  backend-network:
    driver: bridge
  db-network:
    driver: bridge

volumes:
  pgdata_prod:
