version: "3.9"

services:
  frontend:
    container_name: frontend-dev
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - node_modules_volume:/app/node_modules
    networks:
      - client-server-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5173"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

networks:
  client-server-network:
    driver: bridge

volumes:
  node_modules_volume:
