version: "3.9"

services:
  frontend:
    container_name: frontend-dev
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    depends_on:
      - backend
    ports:
      - "5173:5173"
    environment:
      - VITE_GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
    volumes:
      - ./client:/app
      - node_modules_volume:/app/node_modules
    networks:
      - client-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5173"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  backend:
    container_name: backend-dev
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    depends_on:
      - postgres
      - ai
    ports:
      - "8080:8080"
    volumes:
      - ./server:/app
      - gradle_cache:/root/.gradle
    networks:
      - backend-network
      - db-network
      - ai-network
    environment:
      - SPRING_OUTPUT_ANSI_ENABLED=ALWAYS
      - SPRING_PROFILES_ACTIVE=dev
      - JAVA_OPTS=""
      - SERVER_PORT=${SERVER_PORT}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - AI_HOST=${AI_HOST}
      - AI_PORT=${AI_PORT}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  postgres:
    image: postgres:18.1-alpine3.22
    container_name: postgres-dev
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - db-network

  ai:
    container_name: ai-dev
    build:
      context: ./ai
      dockerfile: Dockerfile
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - ai-network
      - backend-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "ollama", "list"]
      interval: 15s
      timeout: 5s
      retries: 5

networks:
  client-network:
    driver: bridge
  backend-network:
    driver: bridge
  db-network:
    driver: bridge
  ai-network:
    driver: bridge

volumes:
  pgdata:
  ollama_data:
  gradle_cache:
  node_modules_volume:
